[submodule "external/libgit2"]
	path = external/libgit2
	url = https://github.com/libgit2/libgit2.git
	branch = maint/v1.8
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.github
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
